<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="artmain" href="{{dbArticle.link}}" target="_blank">
                <div id="article" data-id="{{dbArticle._id}}">
                    <h3>{{dbArticle.title}}</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Notes on the article:</h4>
                <ul id="article-list">
                    {{#each dbArticle.note}}
                    <li class="note">{{this.note_body}}
                        <button type="button" class="btn-delete btn btn-secondary" data-id="{{this._id}}">Delete Note</button>
                    </li>
                    {{/each}}
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <form class="create-form note-form" method="post">
                <label class="form-check-label" for="note">Enter notes about the article:</label>
                <textarea class="form-control" id="note"></textarea>
                <button type="submit" id="addNote">Submit Note</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-5"></div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <button class="btn btn-primary" id="art_home">Return to Articles List</button>
        </div>
    </div>
</div>