<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{#each dbArticle}}
            <a style="display:block" href="{{this.link}}" target="_blank">
                <div id="article" data-id="{{this._id}}">
                    <h3>{{this.title}}</h3>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4>Notes</h4>
                <ul>
                    {{#each dbArticle.note}}
                    <li>{{this.note_body}}
                        <button type="button" class="btn-delete btn btn-secondary" data-id="{{this._id}}">Delete Note</button>
                    </li>
                    {{/each}}
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <form class="create-form" method="post">
                <label class="form-check-label" for="note">Note:</label>
                <textarea class="form-control" id="note"></textarea>
                <button type="submit" id="addNote">Submit Note</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-5"></div>
        <div class="col-xs-4 col-sm-4 col-md-2">
            <button class="btn btn-primary" id="art_home">Return to Articles List</button>
        </div>
    </div>
</div>